.search{
    padding: 0 30px 0 30px;
    margin: 0 10% 0 10%;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.dialog-title-contianer{
    width: 100%;
}

.dialog-title{
    /* background: yellow; */
    width: 80%;
    float: left;
}
.dialog-close{
    /* background: green; */
    width: 10%;
    float: left;
}
