.top-container{
    height: 15vh;
    background: #fafafa
}

.top-container .topRight{

}
.main-container{
    height: 85vh;
    display: flex;
    flex-direction: row;
    /* background: red; */
}
.side-container{
    background: #fafafa;
    padding: 20px;
    flex: 2;
    overflow-y: auto;
}
.contents-container{
    background: #fafafa;
    padding: 20px;
    flex: 10;
    overflow-y: auto;
}