.top-container{
    height: 10vh;
    /* background: #fafafa; */
    background: skyblue;
}

.main-container{
    height: 90vh;
    display: flex;
    flex-direction: row;
    /* background: red; */
}
.side-container{
    /* background: #fafafa; */
    background: green;
    padding: 20px;
    flex: 2;
    overflow-y: auto;
}
.contents-container{
    /* background: #fafafa; */
    background: yellow;
    padding: 20px;
    flex: 10;
    overflow-y: auto;
}